<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Appointment Form</title>
    <link rel="stylesheet" href="styles1.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta name="viewport" Content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <script src="https://smtpjs.com/v3/smtp.js"></script>
</head>

<body>

    <!--Header-->
    <div class="header">
        <div class="inner-header">
            <br>

            <div class="dropdowndemo">
                <div class="dropdownbtn"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
                <div class="dropdownlist-content">
                    <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>

                    <div class="dropdown">
                        <a href="/doctors" target="_blank"><span class="glyphicon glyphicon-user"></span> Our Doctors</a>
                    </div>

                    <a href="/facilities" target="_blank"><span class="glyphicon glyphicon-list"></span> Facilities</a>

                    <div class="sub-menu-dropdown">
                        <div class="sub-menu-btn">
                            <a href="#"><span class="glyphicon glyphicon-cog"></span> Settings  <span class="glyphicon glyphicon-menu-down"></span></a>
                        </div>
                        <div class="sub-menu">
                            <ul>
                                <li id="google_element"></li>
                                <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
                                <script>
                                    function loadGoogleTranslate() {
                                        new google.translate.TranslateElement("google_element");
                                    }
                                </script>

                                <li>Logout</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li style="margin-right: 200px;">
                    <h2>Saviour Hospital</h2>
                </li>
                <li>
                    <a href="/bookappt" target="_blank"><span class="glyphicon glyphicon-plus-sign"></span> Book Appointment</a>
                </li>

                <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Admin Login</a>
                    <div class="dropdown-menu">
                        <div class="main_div">
                            <div class="box">
                                <h1 class="center">Login form</h1>
                                <br><br>
                                <form method=" " action="">
                                    <div class="inputBox">
                                        <input type="number" name="AadharNo." autocomplete="off" required>
                                        <label>Aadhar Number</label>
                                    </div>

                                    <div class="inputBox">
                                        <input type="password" name="password" autocomplete="off" required>
                                        <label> Password</label>
                                    </div>

                                    <div class="center">
                                        <input type="submit" name=" " value="Login">
                                        <p class="gap"> New User ? &nbsp;<a href="/signup" target="blank" style="color: rgb(0, 119, 255);">SignUp</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Doctor's Login</a>
                    <div class="dropdown-menu">
                        <div class="main_div">
                            <div class="box">
                                <h1 class="center">Login form</h1>
                                <br><br>
                                <form method=" " action="">
                                    <div class="inputBox">
                                        <input type="number" name="AadharNo." autocomplete="off" required>
                                        <label>Aadhar Number</label>
                                    </div>

                                    <div class="inputBox">
                                        <input type="password" name="password" autocomplete="off" required>
                                        <label> Password</label>
                                    </div>

                                    <div class="center">
                                        <input type="submit" name=" " value="Login">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
    <!--End Header-->


    <div class="banner_image">
        <div class="wrapper">
            <div class="title">
                Book Appointment Form
            </div>

            <form action="/sendMessage" method="post">
                <div class="form">

                    <div class="inputfield">
                        <label for="name">Name of Patient</label>
                        <input type="text" name="name" class="input" id="name">
                    </div>
                    <div class="inputfield">
                        <label for="aadhar">Adhaar No.</label>
                        <input type="text" name="aadhar" class="input" id="aadhar">
                    </div>

                    <div class="inputfield">
                        <label for="contact">Contact No.</label>
                        <input type="text" name="number" class="input" id="contact" placeholder="Enter Contact No with +91">
                    </div>
                    <div class="inputfield">
                        <label for="email">Email Id</label>
                        <input type="email" name="email" class="input" id="email">
                    </div>
                    <div class="inputfield">
                        <label>Residential Address</label>
                        <input type="text" name="add" class="input" id="add">
                    </div>

                    <div class="inputfield">
                        <label for="date">Date of Appointment</label>
                        <input type="date" name="date" class="input" id="date">
                    </div>

                    <div class="inputfield">
                        <label for="time">Time</label>
                        <input type="time" name="time" class="input" id="time">
                    </div>

                    <div class="inputfield">
                        <label>Preferred Doctor</label>
                        <div class="custom_select">
                            <select>
                          <option value="" selected Disabled>-- Select --</option>
                          <option value="Ankita">Dr. Ankita Tiwari (Cardiologist (MBBS MD))</option>
                          <option value="Aakansha">Dr. Aakansha Tiwari (Dentist (BDS MD))</option>
                          <option value="Pawan">Dr. Pawan Bhagat (Neurologist (DM in Neuro))</option>
                          <option value="Karan">Dr. Karan Shukla (Neurologist (DM in Neuro))</option>
                          <option value="Aditya">Dr. Aditya Jain (Cardiologist (MBBS MD))</option>
                          <option value="Anup">Dr. Anup Rathi (General Physician (MBBS))</option>
                          <option value="Sanjay">Dr. Sanjay Tiwari (Opthalmologist (MD DOMS))</option>
                        </select>
                        </div>
                    </div>

                    <div class="inputfield">
                        <label>Re-type your Doctor option</label>
                        <input type="text" name="doctor" class="input" id="doctor">
                    </div>


                    <div class="inputfield">
                        <label for="symptoms">Symptoms</label>
                        <input type="text" name="symptoms" class="input" id="symptoms">
                    </div>

                    <div class="inputfield">
                        <input type="submit" value="send msg" class="btn">
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!--Footer-->
    <center>
        <footer>
            <div class="container ">
                <p><span class="glyphicon glyphicon-earphone"></span> Contact Us : +91 90000 00000 <b>|</b> <span class="glyphicon glyphicon-envelope"></span> E-mail : hospital@gmail.com</p>
                <p> <button><a href=""><span class="glyphicon glyphicon-bookmark"></span> Website</a></button> : www.saviour.com
                    <b>|</b>
                    <button><a href="https://www.google.co.in/maps/@18.8154265,76.7751434,7z?hl=en&authuser=0"><span class="glyphicon glyphicon-map-marker"></span> Location </a></button> </p>
            </div>
        </footer>
    </center>
    <!--End Footer-->


</body>

</html>