<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient's Portal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
   
                                <form method="post" action="/createPatientRecord">
                                    <div class="inputBox">
                                        <input type="number" name="aadhar_no" autocomplete="off" required>
                                        <label>Aadhar Number</label>
                                        <input type="string" name="name" autocomplete="off" required>
                                        <label>name</label>
                                        <input type="number" name="age" autocomplete="off" required>
                                        <label>Age</label>
                                        <input type="string" name="gender" autocomplete="off" required>
                                        <label>Gender</label>

                                    </div>

                                   

                                    <div class="center">
                                        <input type="submit" name=" " value="Login">
                                        <p class="gap"> New User ? &nbsp;<a href="/signup" target="blank" style="color: rgb(0, 119, 255);">SignUp</a></p>
                                    </div>
                                </form>
                      

               

   

   
</body>

</html>